@import 'variables';

// 1. Your custom variables and variable overwrites.

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
}

.page__wrapper {
    max-width: 1315px;
    margin: 0 auto;
}

// 3. Your custom mixin overwrites.

@import 'variables';
