@import 'variables';

// 1. Your custom variables and variable overwrites.

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: normal;
}

.page_wrapper {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}

// 3. Your custom mixin overwrites.
@import 'variables';
@import 'slick-carousel/slick/slick-theme.scss'
