.header_search {
  cursor: pointer;
  &:hover {
    svg path {
      fill: #3980D9 !important;
    }
  }
}

.header_eye {
  cursor: pointer;
  &:hover {
    svg path {
      fill: #3980D9 !important;
    }
  }
}

.header_menu {
  cursor: pointer;
}

.main_search-wrap {
  position: absolute;
  left: 0;
  top: -50%;
  z-index: 99;
  background-color: #ffffff;
  width: 100%;
  padding: 20px 0;
  transition: 0.5s;
}



.main_search-form {
  display: flex;
  justify-content: space-between;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 20px;
}

.main_search-input:focus {
  outline: none;
}

.main_search-input {
  background: transparent;
  border: none;
  font-size: 16px;
  color: #000000;
  width: 100%;
  margin-right: 25px;
}

.main_search-input:focus::placeholder {
  color: transparent;
}

.main_search-input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.main_search-btn {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;

  svg {
    path {
      fill: #000000;
    }
  }
}

.main_search-wrap--blue {
  background-color: #3980D9;

  .main_search-input {
    color: #ffffff;
    opacity: 0.5;

    &::placeholder {
      color: #fff;
    }
  }

  .main_search-btn {
    color: #ffffff;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}

.main_search-btn:hover {
  opacity: 0.5;
}

.main_search-btn-text {
  margin-left: 10px;
}

.main_search-wrap.active-search {
  top: 0;
  transition: 0.5s;
}

.header_menu-r {
  position: fixed;
  right: 0;
  width: 0;
  overflow: hidden;
  top: 0;
  bottom: 0;

  padding: 45px 0 45px 0;
  background: #3980D9;
  z-index: 99;
  transition: .5s width ease-in-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.active {
    overflow: visible;
    width: 500px;
    transition: .5s width ease-in-out;

  }

  a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    display: inline-block;
    margin-left: 100px;
    margin-right: 80px;

    &:hover {
      text-decoration: underline;
    }
  }

  .header_menu_tel {
    margin-bottom: 20px;
    a {
      font-weight: bold;
      font-size: 18px;

    }
  }

  .header_menu_feedback {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-right: 80px;
    a {
      margin: 0;
    }
  }

  a.header_menu_soc_link {
    display: inline-block;
    margin-right: 23px;
    margin-left: 0;
    &:first-of-type {
      margin-left: 100px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      svg circle{
        opacity: 0.3 !important;
      }
    }
  }

  .header_menu-wrap {
    padding-left: 0;
    list-style: none;
    margin-top: 0;

    .header_menu_item {
      margin-bottom: 35px;

      .header_menu_link {
        font-size: 24px;
      }
    }
  }

  .header_menu-switch {
  display: none;
  }
}

.window-visible {
  &.active {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);

  }
}

.page.active {
  overflow: hidden;
}

.close-menu {
  position: absolute;
  right: 40px;
  top: 45px;
  cursor: pointer;
}


.btn {
  display: block;
  padding: 20px;
  background-color: #3980D9;
  font-style: normal;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  max-width: 245px;
  text-align: center;
  cursor: pointer;
  transition: .2s ease-in-out;

  &:hover {
    background-color: #256AC1;
    transition: .2s ease-in-out;
  }
}

.btn--transparent {
  border: 2px solid #3980D9;
  padding: 20px 20px 20px 35px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #3980D9;

  svg {
    margin-left: 30px;
    stroke: #3980D9;
  }

  &:hover {
    background-color: #3980D9;
    color: #fff;

    svg {
      stroke: #ffffff;
    }
  }
}


.btn--white {
  display: inline-block;
  padding: 21px 35px;
  text-decoration: none;
  color: #3980D9;
  background-color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: .2s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #fff;
    background-color: #3980D9;
    color: #fff;
    transition: .2s ease-in-out;
  }
}

.section_subtitle {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 36px;
  font-weight: bold;
}

.footer {
  background: #102743;
  padding: 50px 0;
}

.footer_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a:hover {
    text-decoration: underline;
  }
}

.footer_right {
  max-width: 290px;
  color: #ffffff;
  font-size: 14px;
}

.footer_contact_title {
  color: #ffffff;
  opacity: 0.5;
  font-size: 14px;
}

.footer_contact_content a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-top: 3px;
}

.footer_soc_vk {
  display: inline-block;
  margin-right: 15px;
}

.footer_soc {
  svg:hover {
    circle {
      fill: #3980D9 !important;
    }
  }
}

.footer_development-link {
  font-weight: bold;
  text-transform: uppercase;
}
.header_language.header_right_child-left a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.header_weather_value {
  font-weight: bold;
}

.inner-top {
  background: #3980D9;
  color: #FFFFFF;
  padding: 45px 0;
  margin-bottom: 80px;

  .bread-crumb {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .breadcrumb-item {
      position: relative;
      padding-left: 20px;

      &::before {
        position: absolute;
        content: "-";
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
      }

      &:first-of-type {
        padding-left: 0;

        &::before {
          display: none;
        }
      }

      &.breadcrumb-active {
        &::before {
          opacity: 0.2;
        }
      }

      a {
        font-size: 14px;
        color: #FFFFFF;
        text-decoration: none;
      }

      span {
        font-size: 14px;
        opacity: 0.2;
      }
    }
  }
}

section.inner-top {
  padding-bottom: 45px !important;
}

.inner_top_nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;

  &_item {
    margin-top: 48px;

    &:hover {
      .inner_top_nav_item_link {
        color: rgba(256, 256, 256, 1);
      }
    }

    &:first-of-type {
      .inner_top_nav_item_link {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }

    &:last-of-type {
      .inner_top_nav_item_link {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &_link {
      color: rgba(256, 256, 256, 0.5);
      text-decoration: none;
      display: inline-block;
      padding: 17px 30px;
      border: 1px solid rgba(256, 256, 256, 0.2);
      height: 100%;
      box-sizing: border-box;
      font-size: 14px;
      text-transform: uppercase;

      &--active {
        color: rgba(256, 256, 256, 1);
        border: 1px solid rgba(256, 256, 256, 1);
        font-weight: bold;
      }
    }
  }
}

.inner_main-title {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 0;
}

section:last-of-type {
  padding-bottom: 100px;

  @media screen and (max-width: 981px) {
    padding-bottom: 50px;
  }
}

.mark-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  &_item {
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: "\2022";
      color: #3980D9;
      width: 5px;
      height: 100%;
      left: 5px;
    }
  }
}

.text--bold {
  font-weight: bold;
}

.content-slider {
  margin-bottom: 60px !important;

  .slick-dots {
    text-align: left;
    bottom: -50px;

    li {
      width: 36px;
      height: 3px;
      background: #3980D9;
      opacity: 0.2;

      &::before {
        display: none;
      }

      &.slick-active {
        opacity: 1;
      }

      &:first-of-type:last-of-type {
        display: none;
      }

      button {
        &::before {
          display: none;
        }
      }
    }
  }
}

.flex-wr {
  display: flex;
  line-height: 1.6;
  flex-wrap: wrap;
  margin-bottom: 80px;

  &_left {
    width: calc(50% - 40px);
    margin-right: 75px;

    @media(max-width: 768px) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  &_right {
    width: calc(50% - 40px);

    @media(max-width: 768px) {
      width: 100%;
    }
  }
}

.text--gray {
  font-size: 14px;
  color: #ABABAB;
}

.text--blue {
  font-weight: bold;
  font-size: 14px;
  color: #3980D9;
}

.grid-two-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  font-size: 14px;

  p {
    margin: 0 0 25px 0;
    line-height: 1.6;
  }

  &_left {
    max-width: 575px;
  }

  &_desc {
    font-size: 18px;
    margin-bottom: 45px;
    font-weight: bold;
    line-height: 1.6;
  }

  &_right {
    max-width: 675px;
  }
}

.mark-list-dash {
  list-style: none;
  padding-left: 0;
  margin: 0;

  &_item {
    position: relative;
    padding-left: 20px;
    margin-left: 13px;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      content: "\2014";
      color: #3980D9;
      width: 8px;
      height: 100%;
      left: -10px;
    }
  }
}

.note-block--border {
  border: 2px solid #3980D9;
  box-sizing: border-box;
  border-left: 11px solid #3980D9;
  padding: 50px 80px;
  font-weight: bold;
  margin-top: 60px;
  font-size: 18px;

  @media screen and (max-width: 768px) {
    padding: 25px 30px;
    font-size: 16px;
  }
}


ol.num-list {
  counter-reset: li;
  padding: 0;
  padding-left: 25px;
  list-style: none;

  li.num-list_item {
    position: relative;
    margin: 0 0 6px 2em;
    padding: 4px 8px;

    &::before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 3px;
      left: -2em;
      width: 2em;
      padding: 4px 0;
      color: #3980D9;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
    }
  }
}

.card {
  &-wrap {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  &_item {
    width: 100%;
    margin-right: 80px;
    padding: 50px;
    margin-bottom: 15px;
    max-width: 410px;
    background: #F3F6F8;

    &:last-of-type {
      margin-right: 0;
    }

    &_subtitle {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &_address {
      font-size: 14px;
      margin-bottom: 25px;
    }

    &_tel {
      font-weight: bold;
      font-size: 14px;
      text-decoration: none;
      color: #3980D9;

      &:hover {
        text-decoration: underline;
      }

    }
  }
}