.header {
    position: relative;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 0;
    position: relative;
}

.header_left {
    display: -webkit-box;
    display: flex;
    align-items: center;
    width: 60%;
}

.header_logo {
    margin-right: 90px;
}

.header_top_link {
    text-decoration: none;
    font-size: 14px;
}

.header_number_link {
    color: #000000;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.header_number {
    margin-right: 125px;
}

.header_switch_link {
    display: inline-block;
    color: #DADADA;
    &:hover {
        text-decoration: underline;
    }
    &:first-of-type {
        margin-right: 20px;
        position: relative;
        &::after {
            position: absolute;
            content: "/";
            color: #C4C4C4;
            font-size: 18px;
            bottom: 0;
            font-weight: 300;
            right: -15px;
        }
    }
    &--active {
        color: #3980D9;
        text-decoration: underline;
        font-weight: bold;
    }
}


.header_right {
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: space-between;

    &_wrap {
        display: flex;
        align-items: center;
    }
}


.header_right_child-left {
    margin-right: 20px;
}

.header_weather_icon {
    margin-right: 10px;
}

.title-decore {
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: -25px;
        width: 54px;
        height: 7px;
        background-color: #3980D9;
    }
}

.main-option_slider {
    max-width: 525px;
    position: relative;
    padding-top: 10px;

    &_item_title {
        font-weight: 800;
        font-size: 48px;
        line-height: 1.2em;
        color: #000000;
        line-height: 1.2em;
        margin-bottom: 25px;
        margin-top: 0;
    }

    &_item_content {
        font-size: 18px;
        max-width: 320px;
        line-height: 1.2em;
    }

    .slick-dots {
        text-align: left;
        bottom: -40px;
    }

    .slick-dots li {
        height: 3px;
        width: 36px;
        background: #3980D9;
        opacity: 0.2;
        
      button {
        &::before {
          display: none;
        }
      }

    }

    .slick-dots li.slick-active {
        opacity: 1;
    }

}

.main-option {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 130px 0 50px 0;

    &_left {
        width: 60%;
        padding-left: 150px;
        box-sizing: border-box;
        position: relative;

        &:before {
            position: absolute;
            content: "LPK";
            left: 0;
            top: -125px;
            font-size: 17rem;
            z-index: 0;
            color: #3980D9;
            opacity: 0.2;
            font-weight: bold;
        }
    }


    &_right {
        width: 33%;

        &_schedule {
            display: inline-block;
            width: 245px;
            text-align: right;
            margin-top: 25px;

            a {
                display: inline-block;
                border-bottom: 1px dashed black;
                color: #000;
                text-decoration: none;
                transition: .1s ease-in-out;
                font-size: 14px;

                &:hover {
                    border-bottom: 1px dashed #3980D9;
                    color: #3980D9;
                    transition: .1s ease-in-out;
                }
            }
        }
    }
}

.main-option_right_more {
    width: 245px;
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.main-option_right_more_item:hover::before {
    position: absolute;
    background-image: url(./../img/cite.svg);
    bottom: calc(100% + 10px);
    left: 50%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-size: 100% 100%;
    font-weight: bold;
    font-size: 14px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #000000;
    width: max-content;
    padding: 15px 30px;
}

.how-get {
    display: inline-block;
    margin-right: 35px;
    position: relative;
}

.how-get.main-option_right_more_item:hover::before {
    content: "Как добраться";
}

.main-option_right_about-airport:hover::before {
    content: "Об аэропорте";
}

.main-option_right_about-airport {
    position: relative;
    display: inline-block;
}

.main_online-shelude_top {
    display: -webkit-box;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 45px;
}

.main_online-shelude_top_btn-wrap {
    display: flex;
    align-items: center;
    .main_online-shelude_btn-wrap {
        display: flex;
    }
}

.main_online-shelude_table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main_online-shelude_table_row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.main_online-shelude_table_row:first-of-type div {
    font-weight: normal;
    color: rgba(256, 256, 256, 0.7);
}

.main_online-shelude_table_row_wrap {
    display: flex;
    flex-grow: 6;
}

.main_online-shelude_table_row div {
    text-align: left;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: 100%;
    padding: 15px 5px;
    font-weight: bold;
    font-size: 14px;
}


.main-option_online-shelude {
    width: 100%;
}

.main_online-shelude {
    background: #3980D9;
    padding: 75px 80px 85px 80px;
    color: #fff;
}

.main_online-shelude_table_row:nth-of-type(2n-1) {
    background: rgba(256, 256, 256, 0.2);
}

.main_online-shelude_top_title {
    margin: 0;
    font-size: 36px;
}

.main_online-shelude_top_date {
    font-size: 14px;
    font-weight: normal;
}

.main_online-shelude_top_date_span {
    display: inline-block;
    margin: 0 50px 0 15px;
    font-weight: bold;
}


.main_online-shelude_top_btn {
    padding: 15px 35px;
    border: 1px solid  rgba(256, 256, 256, 0.5);
    text-transform: uppercase;
    color: rgba(256, 256, 256, 0.5);
    font-size: 14px;
    cursor: pointer;
    width: 140px;
    text-align: center;
    &:hover {
        color: rgba(256, 256, 256, 1);
    }
}

.main_online-shelude_top_btn.active-btn {
    font-weight: bold;
    border: 1px solid  rgba(256, 256, 256, 1);
    color: rgba(256, 256, 256, 1);
    padding-top: 16px;
}

.main_online-shelude_top_btn-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: -1px;
}

.main_online-shelude_top_btn-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

div.main_online-shelude_table_row_left {
    width: 10%;
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin-right: 45px;
}

.main_online-shelude_table_row_wrap div:nth-of-type(3) {
    width: 120%;
}

.online-shelude_value-status {
    position: relative;
    display: inline-block;
}

.online-shelude_value-status::before {
    position: absolute;
    content: "";
    left: -20px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    top: 50%;
    transform: translateY(-50%);
}

.online-shelude_value-status-in::before {
    background: #39D9A9;
}

.online-shelude_value-status-out::before {
    background: #F2E07B;
}

.online-shelude_value-status-cancel::before {
    background: #F36F76;
}

.online-shelude_value-status-reg::before {
    background: #F2AD7B;
}

.main_online-shelude_table {
    display: none;
}

.main_online-shelude_table.active {
    display: flex;
}

.main_online-shelude_more {
    margin-top: 15px;
}

.main_online-shelude_more_note {
    font-size: 12px;
    font-weight: normal;
    opacity: 0.5;
}

.main_online-shelude_more_wrap {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.main_online-shelude_more_wrap_decore {
    margin-right: 85px;
    border-bottom: 1px solid #ffffff;
    width: calc(100% - 405px);
}

.online-shelude_slider-wrap {
    position: relative;
    padding: 0 40px;
    margin-top: 100px;
}

.online-shelude_slider-arrow {
    background: url(../img/arrow-l.svg) no-repeat center;
    width: 10px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.online-shelude_slider-arrow-l {
    left: 0;
}

.online-shelude_slider-arrow-r {
    transform: rotate(-180deg);
    right: 0;
}

.online-shelude_slider_item-wrap {
    display: flex;
    align-items: center;
}

.online-shelude_slider_item-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.online-shelude_slider_item_decore {
    margin-right: 70px;
    width: 415px;
}

.online-shelude_slider_item-wrap img {
    width: 100%;

}

.online-shelude_slider_item_title {
    font-weight: 800;
    position: relative;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 25px;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: -25px;
        width: 54px;
        height: 7px;
        opacity: 0.2;
        background-color: #ffffff;
    }
}

.online-shelude_slider_item_content {
    max-width: 400px;
}

.online-shelude_slider-wrap {
    .slick-dots {
        text-align: left;
        bottom: -40px;
        right: 0;
        max-width: 480px;
    
        li {
            height: 3px;
            width: 36px;
            background: #ffffff;
            opacity: 0.2;
            
      button {
        &::before {
          display: none;
        }
      }
        }

        li.slick-active {
            opacity: 1;
        }
    }
}

.main_other-link_wrap {
    padding: 65px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_other-link_item {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 15px;
    max-width: 395px;
    width: 30%;
    &:nth-of-type(3n) {
        margin-right: 0;
    }
}


.main_other-link_item img {
    width: 100%;
}

.main_news {
    padding-bottom: 95px;
    padding-top: 30px;
}

.main_news_wrap {
    padding: 30px 0;
    display: flex;
    overflow-x: auto;
    
}

.main_news_item_date {
    color: #c4c4c4;
    font-size: 14px;
    font-weight: normal;
  }
  
  .main_news_item_title {
    display: inline-block;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    text-decoration: none;
    &:hover {
        color: #3980D9;
    }
  }

.main_news_item {
    width: 300px;
    min-width: 240px;
    margin-right: 85px;
}

.main_news_more-news {
    text-transform: uppercase;
    color: #3980D9;
    font-size: 14px;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}
