.inner_top_partners {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_feedback {
        height: fit-content;
    }
}

.main-part {
    &_category_wr {
        display: flex;
        padding-bottom: 80px;
    }

    &_category_item {
        display: block;
        position: relative;
        color: #fff;
        font-weight: bold;
        padding: 50px;
        background-size: cover;
        background-position: center;
        width: 100%;
        text-decoration: none;
        font-weight: bold;
        font-size: 24px;
        border-right: 1px solid #fff;


        &_icon {
            position: relative;
            z-index: 3;
            height: 90px;
            max-width: 90px;
            margin-bottom: 25px;

            svg {
                width: 100%;
                height: 100%;
            }
        }


        &_title {
            position: relative;
            z-index: 3;
        }

        &::after {
            position: absolute;
            content: "";
            background-color: #3980d9;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            z-index: 1;
            opacity: 1;
            transition: .3s ease-in-out;

        }

        &:hover::after {
            opacity: 0.7;
            transition: .3s ease-in-out;
        }

        &:last-of-type {
            border-right: none;
        }

        &--air {
            background-image: url(../img/part-cat1.jpg);
        }

        &--cargo {
            background-image: url(../img/part-cat2.jpg);
        }

        &--ad {
            background-image: url(../img/part-cat3.jpg);
        }
    }
}

.part-aircomp_table {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    border-top: 3px solid #6B6B6B;
    border-bottom: 3px solid #6B6B6B;

    &_row {
        display: flex;
        flex-direction: row;

        &_characteristic {
            padding: 22px 10px 22px 90px;
            border-right: 1px solid #E5E5E5;
            width: 100%;
            font-weight: bold;
        }

        &_value {
            padding: 22px 10px 22px 90px;
            width: 100%;
        }
    }

    &_row-title {
        background: #F2F2F2;
        color: #6B6B6B;
        text-transform: uppercase;
    }
}

.part-statistic {
    &_table-wrap {
        overflow-x: auto;
    }

    &_table {
        display: flex;
        flex-direction: column;
        border-top: 3px solid #6B6B6B;
        border-bottom: 3px solid #6B6B6B;
        font-size: 14px;
        margin-bottom: 50px;
        min-width: 740px;

        &_row {
            display: flex;
            flex-direction: row;

            &_value {
                width: 100%;
                padding: 22px 20px 22px 80px;
                border-right: 1px solid #D3D3D3;
                font-weight: bold;
            }

            &_number {
                width: 25%;
                padding: 20px;
                text-align: center;
                border-right: 1px solid #D3D3D3;

                &:last-of-type {
                    border-right: none;
                }
            }
        }

        &_row-title {
            background: #F2F2F2;
            color: #6B6B6B;
            font-weight: bold;
            font-size: 12px;
        }
    }

    &_img {
        text-align: center;
        margin-bottom: 40px;
        img {
            width: 100%;
            max-width: 970px;
        }
    }

    &_text {
        font-size: 14px;
        line-height: 1.6;
    }
}

.part-advertiser {
    line-height: 1.6;
}