.shelude-inner-top_wrap {
    display: flex;
    justify-content: space-between;

    .inner_top_content {
        display: flex;
        align-items: center;
    }

    .inner_top_btn-wrap {
        display: flex;
    }



    .inner_top_calendar {
        height: 50px;
        border: 1px solid rgba(256, 256, 256, 0.5);
        box-sizing: border-box;
        border-radius: 5px;
        padding: 15px 20px;
        background: transparent;

        font-family: 'Montserrat', sans-serif;
        color: #FFFFFF;

        &::-webkit-input-placeholder {
            color: rgba(256, 256, 256, 0.5);
            font-weight: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        &::-moz-placeholder {
            color: rgba(256, 256, 256, 0.5);
            font-weight: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        &:-ms-input-placeholder {
            color: rgba(256, 256, 256, 0.5);
            font-weight: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        &:-moz-placeholder {
            color: rgba(256, 256, 256, 0.5);
            font-weight: 14px;
            font-family: 'Montserrat', sans-serif;
        }

        &:active::placeholder {
            color: transparent;
        }

        &:focus {
            outline: #FFFFFF;

        }

        &-wrap {
            position: relative;
            margin-right: 80px;

            &::after {
                position: absolute;
                content: '';
                background: url("../img/calendar-icon.svg") no-repeat center;
                background-size: contain;
                width: 15px;
                height: 15px;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.seasonal_sch-btn {

    cursor: pointer;
    padding: 15px 35px;
    border: 1px solid rgba(256, 256, 256, 0.5);
    text-transform: uppercase;
    color: rgba(256, 256, 256, 0.5);
    font-size: 14px;
    width: 140px;
    text-align: center;

    &:hover {
        color: rgba(256, 256, 256, 1);
    }

    &.active-btn {
        font-weight: bold;
        border: 1px solid rgba(256, 256, 256, 1);
        color: rgba(256, 256, 256, 1);
        padding-top: 16px;
    }

    &1 {

        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        margin-right: -1px;
    }

    &2 {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
}


.seasonal_shelude_table {


    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    border-collapse: collapse;
    min-width: 900px;

}

.seasonal_schedule_table-wrap {
    overflow-x: auto;
    display: none;

    &.active {
        display: block;
    }
}

.seasonal_shelude_table {
    min-width: 1230px;
}

.seasonal_shelude_table_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &:nth-of-type(2n+1) {
        background-color: #F8F8F8;
    }



    &_time {
        display: flex;
        flex-direction: row;
        min-width: 300px;
        align-items: center;
        width: 25%;


        div {
            width: 100%;
            padding: 17px 0 17px 30px;
        }
    }

    &_right {
        display: flex;
        width: 75%;
        flex-direction: row;
        align-items: center;


        div {
            width: 100%;
            padding: 17px 0 17px 30px;
        }
    }

}

.seasonal_shelude_table_title {
    background: #F2F2F2;
    font-weight: normal;
}